Andre Lopes <andremclopes@vodafone.pt> <andre@Portatil.(none)>
Gabriele "Whisky" Visconti <visconti.gabriele@gmail.com> <fastfading@mercurius.(none)>
Jeremy Newton <alexjnewt@hotmail.com> <jeremy@jeremy-PC.(none)>
Jose Rostagno <joserostagno@vijona.com.ar> <joserostagno@hotmail.com>
Josh Fradley <josh.fradley@gmail.com> <Josh@Josh-Fradleys-MacBook.local>
Lucas F. Ottaviano <lfottaviano@gmail.com> <lucas@archluke.localdomain>
Mariano Guerra <luismarianoguerra@gmail.com> <guerral@ar.ibm.com>
Mariano Guerra <luismarianoguerra@gmail.com> <mariano@vishnu.(none)>
Rene Pärts <rene87@hot.ee> <tuulehaug@gmail.com>
Riccardo (c10ud) <c10ud.dev@gmail.com> <riky@rubuntu.(none)>
Richard Somlói <level@somloirichard.hu> <ricsipontaz@ricsipontaz-desktop.(none)>
Roger Duran <roger@rogerpc.com.ar> <roger@elvex.org.ar>
Roger Duran <roger@rogerpc.com.ar> <roger@nemesis.localdomain>
SWOriginal <sworiginal10@gmail.com> <smew2009@hotmail.com>
Stefano Candori <stefano.candori@gmail.com> <kendrix16@yahoo.it>
Sven (Sbte) <svenb.linux@gmail.com>
karasu <karasu@serenity.(none)> <karasu@atlantis.(none)>
nenemfromhell <sniper3000@gmail.com> <anonymous@anonymous>
jamesaxl <axlrose112@gmail.com> <axlrose@linux-wdk9.site>
