[Desktop Entry]
Name=emesene
GenericName=emesene
Comment=Instant messaging client for MSN, Gtalk and Facebook
Comment[nl]=Chatprogramma voor MSN, Google Talk en Facebook
Comment[pt]=Cliente de mensagens instantâneas para MSN, Gtalk e Facebook
Comment[hu]=Azonnali üzenetküldő MSN, Gtalk és Facebook protokollokhoz
Comment[de]=Sofortnachrichtenprogramm für MSN, Gtalk und Facebook
Comment[pt_BR]=Cliente de mensagens instantâneas para  MSN, Gtalk e Facebook
Comment[fr]=Client de messagerie instantanée pour MSN, Gtalk et Facebook
Comment[zh_TW]=適用於 MSN、GTalk 和 Facebook 的即時通訊軟體
Comment[tr]=MSN, Gtalk ve Facebook için anlık ileti istemcisi
Comment[ru]=Клиент обмена мгновенными сообщениями для MSN, Gtalk и Facebook
Comment[es]=Cliente de mensajería instantánea para MSN, Gtalk y Facebook
Comment[et]=MSN'i, Gtalk'i ja Facebook'i kiirsuhtlusklient
Comment[cs]=Instantní klient pro MSN, Gtalk a Facebook
Comment[it]=Client di messaggistica istantanea per MSN, Gtalk e Facebook
Exec=emesene -s
Icon=emesene
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;InstantMessaging;
X-Ayatana-Desktop-Shortcuts=NewInstance;

[NewInstance Shortcut Group]
Name=Open a new instance
Name[nl]=Open een nieuwe instantie
Name[pt]=Abrir uma nova instância
Name[hu]=Új példány megnyitása
Name[de]=Eine neue Instanz öffnen
Name[pt_BR]=Abrir uma nova instância
Name[fr]=Ouvrir une nouvelle instance
Name[tr]=Yeni bir örnek aç
Name[ru]=Открыть новую копию
Name[es]=Abrir una instancia nueva
Name[et]=Ava uus eksemplar
Name[cs]=Otevřít novou instanci
Name[it]=Apri una nuova istanza
Exec=emesene
TargetEnvironment=Unity
