[Desktop Entry]
Name=emesene
GenericName=emesene
Comment=Instant messaging client for MSN, Gtalk and Facebook
Exec=emesene -s
Icon=emesene
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
X-Ayatana-Desktop-Shortcuts=NewInstance;

[NewInstance Shortcut Group]
Name=Open a new instance
Exec=emesene
TargetEnvironment=Unity
