[Desktop Entry]
Name=emesene2
GenericName=emesene2
Comment=Instant messaging client for MSN, Gtalk and Facebook
Exec=emesene
Icon=emesene2
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
