<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>face-smile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)</string>
				<string>:-)</string>
			</array>
			<key>Name</key>
			<string>face-smile</string>
		</dict>
		<key>face-wink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>;)</string>
				<string>;-)</string>
			</array>
			<key>Name</key>
			<string>face-wink</string>
		</dict>
		<key>face-tired.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>|-)</string>
			</array>
			<key>Name</key>
			<string>face-tired</string>
		</dict>
		<key>face-laugh.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
				<string>:d</string>
				<string>:-D</string>
			</array>
			<key>Name</key>
			<string>face-laugh</string>
		</dict>
		<key>face-worried.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:S</string>
				<string>:s</string>
			</array>
			<key>Name</key>
			<string>face-worried</string>
		</dict>
		<key>face-sad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>:-(</string>
			</array>
			<key>Name</key>
			<string>face-sad</string>
		</dict>
		<key>face-kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(K)</string>
				<string>(k)</string>
			</array>
			<key>Name</key>
			<string>face-kiss</string>
		</dict>
		<key>face-raspberry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:P</string>
				<string>:p</string>
				<string>:-P</string>
				<string>:-p</string>
			</array>
			<key>Name</key>
			<string>face-raspberry</string>
		</dict>
		<key>face-plain.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:|</string>
				<string>:-|</string>
			</array>
			<key>Name</key>
			<string>face-plain</string>
		</dict>
		<key>face-rolling.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>*-)</string>
			</array>
			<key>Name</key>
			<string>face-rolling</string>
		</dict>
		<key>face-surprise.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:O</string>
				<string>:o</string>
				<string>:-O</string>
				<string>:-o</string>
			</array>
			<key>Name</key>
			<string>face-surprise</string>
		</dict>
		<key>face-embarassed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:$</string>
			</array>
			<key>Name</key>
			<string>face-embarassed</string>
		</dict>
		<key>face-crying.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:'(</string>
			</array>
			<key>Name</key>
			<string>face-crying</string>
		</dict>
		<key>face-angry.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:@</string>
				<string>:-@</string>
			</array>
			<key>Name</key>
			<string>face-angry</string>
		</dict>
		<key>face-devilish.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(6)</string>
			</array>
			<key>Name</key>
			<string>face-devilish</string>
		</dict>
		<key>face-angel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(A)</string>
				<string>(a)</string>
			</array>
			<key>Name</key>
			<string>face-angel</string>
		</dict>
		<key>face-party.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&lt;:o)</string>
			</array>
			<key>Name</key>
			<string>face-party</string>
		</dict>
		<key>airplane.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ap)</string>
			</array>
			<key>Name</key>
			<string>airplane</string>
		</dict>
		<key>car.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(au)</string>
			</array>
			<key>Name</key>
			<string>car</string>
		</dict>
		<key>face-teeth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8o|</string>
			</array>
			<key>Name</key>
			<string>face-teeth</string>
		</dict>
		<key>face-sick.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>+o(</string>
			</array>
			<key>Name</key>
			<string>face-sick</string>
		</dict>
		<key>beer.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(b)</string>
				<string>(B)</string>
			</array>
			<key>Name</key>
			<string>beer</string>
		</dict>
		<key>cake.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(^)</string>
			</array>
			<key>Name</key>
			<string>cake</string>
		</dict>
		<key>sheep.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(bah)</string>
			</array>
			<key>Name</key>
			<string>sheep</string>
		</dict>
		<key>goat.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(nah)</string>
			</array>
			<key>Name</key>
			<string>goat</string>
		</dict>
		<key>bowl.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(||)</string>
			</array>
			<key>Name</key>
			<string>bowl</string>
		</dict>
		<key>boy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(z)</string>
				<string>(Z)</string>
			</array>
			<key>Name</key>
			<string>boy</string>
		</dict>
		<key>love-over.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(u)</string>
				<string>(U)</string>
			</array>
			<key>Name</key>
			<string>love-over</string>
		</dict>
		<key>camera.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(p)</string>
				<string>(P)</string>
			</array>
			<key>Name</key>
			<string>camera</string>
		</dict>
		<key>cat.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(@)</string>
			</array>
			<key>Name</key>
			<string>cat</string>
		</dict>
		<key>cigarette.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ci)</string>
			</array>
			<key>Name</key>
			<string>cigarette</string>
		</dict>
		<key>clock.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(o)</string>
				<string>(O)</string>
			</array>
			<key>Name</key>
			<string>clock</string>
		</dict>
		<key>coffee.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(c)</string>
				<string>(C)</string>
			</array>
			<key>Name</key>
			<string>coffee</string>
		</dict>
		<key>computer.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(co)</string>
			</array>
			<key>Name</key>
			<string>computer</string>
		</dict>
		<key>dog.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(&amp;)</string>
			</array>
			<key>Name</key>
			<string>dog</string>
		</dict>
		<key>face-zipped.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(:-#)</string>
			</array>
			<key>Name</key>
			<string>face-zipped</string>
		</dict>
		<key>drink.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(d)</string>
				<string>(D)</string>
			</array>
			<key>Name</key>
			<string>drink</string>
		</dict>
		<key>mail.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(e)</string>
				<string>(E)</string>
			</array>
			<key>Name</key>
			<string>mail</string>
		</dict>
		<key>face-glasses.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>8-)</string>
			</array>
			<key>Name</key>
			<string>face-glasses</string>
		</dict>
		<key>video.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(~)</string>
			</array>
			<key>Name</key>
			<string>video</string>
		</dict>
		<key>present.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(g)</string>
				<string>(G)</string>
			</array>
			<key>Name</key>
			<string>present</string>
		</dict>
		<key>girl.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(x)</string>
				<string>(X)</string>
			</array>
			<key>Name</key>
			<string>girl</string>
		</dict>
		<key>handcuffs.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(%)</string>
			</array>
			<key>Name</key>
			<string>handcuffs</string>
		</dict>
		<key>hifive.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(h5)</string>
			</array>
			<key>Name</key>
			<string>hifive</string>
		</dict>
		<key>face-cool.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(h)</string>
				<string>(H)</string>
			</array>
			<key>Name</key>
			<string>face-cool</string>
		</dict>
		<key>face-uncertain.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:^)</string>
			</array>
			<key>Name</key>
			<string>face-uncertain</string>
		</dict>
		<key>island.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(ip)</string>
			</array>
			<key>Name</key>
			<string>island</string>
		</dict>
		<key>hugleft.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>({)</string>
			</array>
			<key>Name</key>
			<string>hugleft</string>
		</dict>
		<key>lamp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(i)</string>
				<string>(I)</string>
			</array>
			<key>Name</key>
			<string>lamp</string>
		</dict>
		<key>c10ud.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(li)</string>
			</array>
			<key>Name</key>
			<string>c10ud</string>
		</dict>
		<key>msn.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(m)</string>
				<string>(M)</string>
			</array>
			<key>Name</key>
			<string>msn</string>
		</dict>
		<key>mobile.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(mp)</string>
			</array>
			<key>Name</key>
			<string>mobile</string>
		</dict>
		<key>coins.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(mo)</string>
			</array>
			<key>Name</key>
			<string>coins</string>
		</dict>
		<key>music.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(8)</string>
			</array>
			<key>Name</key>
			<string>music</string>
		</dict>
		<key>pizza.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(pi)</string>
			</array>
			<key>Name</key>
			<string>pizza</string>
		</dict>
		<key>plate.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(pl)</string>
			</array>
			<key>Name</key>
			<string>plate</string>
		</dict>
		<key>rainbow.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(r)</string>
				<string>(R)</string>
			</array>
			<key>Name</key>
			<string>rainbow</string>
		</dict>
		<key>rain.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(st)</string>
			</array>
			<key>Name</key>
			<string>rain</string>
		</dict>
		<key>love.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(l)</string>
				<string>(L)</string>
			</array>
			<key>Name</key>
			<string>love</string>
		</dict>
		<key>face-kiss.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(k)</string>
				<string>(K)</string>
			</array>
			<key>Name</key>
			<string>face-kiss</string>
		</dict>
		<key>rose.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(f)</string>
				<string>(F)</string>
			</array>
			<key>Name</key>
			<string>rose</string>
		</dict>
		<key>hugright.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(})</string>
			</array>
			<key>Name</key>
			<string>hugright</string>
		</dict>
		<key>face-sarcastic.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^o)</string>
			</array>
			<key>Name</key>
			<string>face-sarcastic</string>
		</dict>
		<key>secret.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-*</string>
			</array>
			<key>Name</key>
			<string>secret</string>
		</dict>
		<key>moon.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(S)</string>
			</array>
			<key>Name</key>
			<string>moon</string>
		</dict>
		<key>snail.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(sn)</string>
			</array>
			<key>Name</key>
			<string>snail</string>
		</dict>
		<key>soccerball.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(so)</string>
			</array>
			<key>Name</key>
			<string>soccerball</string>
		</dict>
		<key>star.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(*)</string>
			</array>
			<key>Name</key>
			<string>star</string>
		</dict>
		<key>sun.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(#)</string>
			</array>
			<key>Name</key>
			<string>sun</string>
		</dict>
		<key>phone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(t)</string>
				<string>(T)</string>
			</array>
			<key>Name</key>
			<string>phone</string>
		</dict>
		<key>bad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(n)</string>
				<string>(N)</string>
			</array>
			<key>Name</key>
			<string>bad</string>
		</dict>
		<key>good.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(y)</string>
				<string>(Y)</string>
			</array>
			<key>Name</key>
			<string>good</string>
		</dict>
		<key>turtle.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(tu)</string>
			</array>
			<key>Name</key>
			<string>turtle</string>
		</dict>
		<key>umbrella.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(um)</string>
			</array>
			<key>Name</key>
			<string>umbrella</string>
		</dict>
		<key>bat.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-[</string>
				<string>:[</string>
			</array>
			<key>Name</key>
			<string>bat</string>
		</dict>
		<key>rose-dead.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(w)</string>
				<string>(W)</string>
			</array>
			<key>Name</key>
			<string>rose-dead</string>
		</dict>
		<key>console.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>(xx)</string>
			</array>
			<key>Name</key>
			<string>console</string>
		</dict>
	</dict>
</dict>
</plist>
